<div id="<%= dom_id food_recipe %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Food:</strong>
    <%= food_recipe.food_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Recipe:</strong>
    <%= food_recipe.recipe_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this food recipe", food_recipe, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this food recipe", edit_food_recipe_path(food_recipe), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
